{{#if login}}
{{else}}
	{{>loginForm}}
	{{>signupForm}}
{{/if}}

{{>topMenu}}
{{>slide}}

<section id="qhuy-main-content">
	<div class="qhuy-container">
		<div class="lien-he-content">
			<h1>Thông tin liên lạc</h1>
			<div class="div-header">
				<div class="col1">
					<img src="/img/logo/logo-with-name.png">
				</div>
				<div class="col2">
					<ul>
						<li><strong>Công Ty TNHH TM Và DV Bán Áo Online</strong></li>
						<li><strong>MST: </strong>0313957076</li>
						<li><strong>Địa Chỉ:</strong> 99 Đường Trần Hưng Đạo, Cầu Ông Lãnh, Quận 1, TPHCM </li>
					</ul>
				</div>
				<div class="col3">
					<ul>
						<li><strong>Số điện thoại:</strong></li>
						<li>0933.333.444 - 0903.777.888</li>
					</ul>
				</div>
				<div class="col4">
					<li><strong>Giờ mở cửa:</strong></li>
					<li>Làm việc từ 9h-18h từ thứ 2 đến thứ 7</li>
					<li><strong>Gởi báo giá vào Email: </strong> banaoonline@gmail.com</li>
					<li><strong>Giao Hàng: </strong>Toàn Quốc từ 2- 5 ngày khi nhận được đơn hàng.</li>
				</div>
				<div style="clear: both;"></div>
				</div>

				<div class="map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.570802568593!2d106.69309991480057!3d10.76752369232757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3e1e30cd21%3A0x550a8f36ac037724!2zOTkgxJDGsOG7nW5nIFRy4bqnbiBIxrBuZyDEkOG6oW8sIEPhuqd1IMOUbmcgTMOjbmgsIFF14bqtbiAxLCBI4buTIENow60gTWluaA!5e0!3m2!1sen!2s!4v1524486911010" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
		</div>
</section>
