{{#if login}}
{{else}}
    {{>loginForm}}
    {{>signupForm}}
{{/if}}

{{>topMenu}}
{{>slide}}
       
<section id="qhuy-main-content" class="qhuy-user">
    <div class="qhuy-container">
            <h1>Hợp Tác Kinh Doanh Áo Thun </h1>
            <div id="content" class=""> 
                <h2>Nếu bạn đang:</h2>
                <ul>
                    <li>Mong muốn kinh doanh áo thun để bán khu du lịch, Resort, page/channel, kênh bán lẻ của mình mà không muốn tốn nhiều thời gian vào việc tư vấn, giao hàng, thiết kế, đổi trả .</li>
                    <li>Tạo một nguồn thu nhập cao và ổn định mà không bị ràng buộc hay can thiệp từ phía nhà tài trợ.</li>
                    <li>Muốn tập trung tạo ra giá trị cho cộng đồng.</li>
                    <li>Mở rộng thương hiệu đến cộng đồng.</li>
                </ul>

                <h2>Bán Áo Online chính là đối tác đáng tin cậy của bạn, vì chúng tôi:</h2>
                <ol>
                    <li>Hỗ trợ bạn bán các mẫu áo thun độc quyền của chính bạn một cách trọn gói: thiết kế theo ý tưởng của bạn, tư vấn, sản xuất,giao hàng và đổi trả.</li>
                    <li>Không giới hạn và ràng buộc bất kỳ điều gì: chúng tôi tôn trọng những gì bạn đã và đang làm với sự tâm huyết của mình dành cho channel hay fanpage của bạn, vì vậy, chúng tôi không can thiệp bất kỳ điều gì về nội dung của bạn. Hơn nữa, bạn hoàn toàn có thể ngừng hợp tác bất kỳ lúc nào bạn muốn.</li>
                    <li>Vải thun chất lượng, công nghệ in hiện đại, giá thành cạnh tranh nhất.</li>
                    <li>Giúp bạn có được doanh thu ổn định: sản phẩm áo thun là một trong những sản phẩm có vòng lập mua hàng không giới hạn, vì vậy, đây là loại sản phẩm phù hợp để tạo ra nguồn thu ổn định.</li>
                    <li>Đội ngủ thiết kế chuyên nghiệp và uy tín hàng đầu.</li>
                </ol>
                <img src="../img/hoptac1.jpg">

                <h2>Quy Trình hợp tác như thế nào?</h2>
                <p>Bán Áo Online và bạn sẽ: </p>
                <p>  Trao đổi, thống nhất ý tưởng để thiết kế áo chất liệu vải và công nghệ in phù hợp nhất.</p>
                <ul>
                    <li>Thiết kế demo cho bạn 30 - 50 mẫu áo để bạn chọn mẫu ưng ý.</li>
                    <li>Lựa chọn chất lượng vải, công nghệ in phù hợp theo yêu cầu.</li>
                    <li>Tư vấn, sản xuất, giao hàng và đổi trả.</li>
                </ul>
                <p>Bạn sẽ:</p>
                <ul>
                    <li>Mô tả ý tưởng sản xuất áo phông, mục đích kinh doanh...</li>
                    <li>Làm chủ việc kinh doanh những sản phẩm độc quyền của bạn và có thu nhập đều đặn để yên tâm tập trung vào những gì bạn muốn làm.</li>
                </ul>

                <h2>Chúng tôi mong muốn hợp tác với những đối tác như thế nào? </h2>
                <ol>
                    <li>Sỡ hữu fanpage có lượng followers trên 50.000</li>
                    <li> Sỡ hữu kênh youtube có lượng subscribers trên 40.000</li>
                    <li>Khu du lịch, Resort, công ty tổ chức sự kiện.</li>
                    <li>Shop thời trang online và offline.</li>
                    <li>Tất cả mọi người muốn kinh doanh áo phông.</li>
                </ol>

                <p>Hãy liên hệ ngày với chúng tôi nếu bạn mong muốn hợp tác:</p>
                <h3>Công Ty TNHH TM Và DV Printstyle</h3>
                <ul>
                    <li>☎ Hotline: 0933.333.444 - 0903.777.888</li>
                    <li>@ Website : http://banaoonline.vn/</li>
                    <li>✉ Email: banaoonline@gmail.com</li>
                    <li>★ Địa chỉ: 99 Đường Trần Hưng Đạo, Cầu Ông Lãnh, Quận 1, TPHCM</li>
                </ul>
            </div>
</section>
