{{#if login}}
{{else}}
    {{>loginForm}}
    {{>signupForm}}
{{/if}}

{{>topMenu}}
{{>slide}}

<section id="qhuy-main-content" class="qhuy-user">
	<div class="qhuy-container">
		<h1 class="design-header"> Thiết Kế Áo</h1>
		<div class="row-designer">
			<iframe id="tshirtecommerce-designer" scrolling="no" noresize="noresize" src="http://printstyle.vn//tshirtecommerce/index.php?product=71&amp;parent=176"
				width="100%" height="700px;" frameborder="0"></iframe>
		</div>
	</div>
</section>
