{{#if login}}
{{else}}
	{{>loginForm}}
	{{>signupForm}}
{{/if}}

{{>topMenu}}
{{>slide}}

<section id="qhuy-main-content">
	<div class="qhuy-container">
		<div class="huong-dan-content">
			<h1>Hướng Dẫn Thiết Kế Online</h1>
			<div class="hd-header">
					<div class="col1">
							<img src="/img/huongdan1.gif">
							<div class="p-header">Chọn những gì Bạn muốn</div>
							<p>Chọn mẫu thiết kế cần in, slogan và màu áo.</p>
						</div>
						<div class="col2">
							<img src="/img/huongdan2.gif">
							<div class="p-header">Thiết kế sản phẩm</div>
							<p>Upload hình ảnh từ máy tính cá nhân hoặc trên di động của bạn, sau đó kéo vào vị trí khoanh vùng,  thêm chữ và kéo lại vị trí Bạn muốn đặt.</p>
						</div>
						<div class="col3">
							<img src="/img/huongdan3.gif">
							<div class="p-header">Xem thiết kế và đặt hàng</div>
							<p>Sau khi đã hoàn thành thiết kế Bạn có thể xem thành phẩm trước khi quyến định mua hàng.</p>
						</div>
						<div class="clear-float"></div>
			</div>

			<h2>Hướng dẫn thiết kế:</h2>
			<ul>
				<li>Chọn màu áo.</li>
				<li>Upload ảnh từ máy tính, di động hoặc thư viện ảnh</li>
				<li>Tiến hành thiết kế mặt trước,sau, cánh tay áo</li>
				<li>Xem lại mẫu thiết kế.</li>
				<li>Chọn size</li>
				<li> Click vào mua ngay, điền thông tin giao hàng, nếu Bạn muốn chọn áo chất lượng thì note vào ghi chú trong đơn hàng (+30,000/áo).</li>
				<li>Bán Áo Online tiếp nhận đơn hàng, tiến hành tách nền hình, chỉnh màu...giúp mẫu thiết kế đẹp nhất.</li>
			</ul>

			<h2>Bảng size áo cổ tròn</h2>
			<img src="/img/huongan4.png" class="hinh-size">
			<h2>Bảng size áo cổ trụ</h2>
			<img src="/img/huongdan5.png" class="hinh-size" id="hinh-cuoi">
		</div>
</section>

