{{#if login}}
{{else}}
	{{>loginForm}}
	{{>signupForm}}
{{/if}}

{{>topMenu}}
{{>slide}}

<section id="qhuy-main-content" class="qhuy-user">
    <div class="qhuy-container">
        <div class="gioi-thieu-content">
            <h1>Những lợi ích nổi bật khi chọn dịch vụ của Bán Áo Online</h1>
            <ul>
                <li>
                    <strong>Không giới hạn số lượng áo của đơn hàng: </strong>từ 1 áo in theo yêu cầu đến 100.000 áo và hơn
                    nữa.</li>
                <li>
                    <strong>Chất lượng vải cao cấp: </strong>100% cotton, chất lượng cao.</li>
                <li>
                    <strong>Hỗ trợ thiết kế áo: </strong>bạn có thể gởi thông tin để được thiết kế áo</li>
                <li>
                    <strong>Thời gian sản xuất nhanh: </strong>từ 1 đến 3 ngày sau khi đặt hàng</li>
                <li>
                    <strong>Công nghệ in đa dạng: </strong>vinyl, kỹ thuật số, in lụa... giữ màu sáng và bền theo thời gian</li>
                <li>
                    <strong>Dịch vụ đặc biệt: </strong>hỗ trợ thiết kế riêng theo yêu cầu của từng cá nhân trong nhóm hoặc
                    in nhiều màu áo khác nhau trong cùng một nhóm.</li>
                <li>
                    <strong>Giao hàng nhanh: </strong>áp dụng phạm vi toàn quốc</li>
                <li>
                    <strong>Cam kết chất lượng, mức độ hài lòng:</strong>hoàn toàn miễn phí đổi trả sản phẩm nếu quý khách
                    không hài lòng về chất lượng sản phẩm</li>
            </ul>
            <img src="/img/gioithieu1.jpeg" id="hinh1">

            <h1>Chia sẻ về Sản phẩm Bán Áo Online</h1>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hiện nay chúng ta dễ dàng tìm kiếm được các đơn vị, công ty cung cấp giải
                pháp in ấn áo thun tại Tp Hồ Chí Minh. Nhưng để tìm được một nơi uy tín và chất lượng thì không dễ
                dàng. Một câu nói chị thu mua áo thun đồng phục cho công ty chuyên tổ chức sự kiện từng nói với chúng
                tôi rất nhiều lần: "Mua được một áo thun thì dễ nhưng là một cái áo thun đẹp và vải chất lượng thì
                khó quá". Áo Thun Thông Điệp hiểu được giá trị của một chiếc áo thun chất lượng cấu thành từ: chất
                lượng vải, đường may, kiểu dáng, thông số cỡ size, công nghệ in nên đã đầu tư rất nhiều cho quá trình
                phát triển sản phẩm từ các khâu: lựa chọn sợi, chọn đối tác dệt nhuộm và xử lý wash mềm vải, thiết
                kế form áo, đối tác may, công nghệ in... Với mục tiêu sản xuất và in thành công những chiếc áo làm
                người mặc thoải mái, dễ chịu và hài lòng về thẩm mỹ.</p>

            <img src="/img/gioithieu2.jpeg" id="hinh2">

            <h1>Hàng ngàn khách hàng cá nhân, công ty và tổ chức đã chọn Bán Áo </h1>
            <img src="/img/gioithieu3.jpeg" id="hinh3">
        </div>
</section>
 
