<section class="qhuy-top-menu">
	<div class="qhuy-container">
		<nav class="qhuy-topside-menu">
			<ul>
				<li>
					<a href="/admin/dashboard">THỐNG KÊ</a>
				</li>
				<li>
					<a href="/admin/manageaccounts">TÀI KHOẢN KHÁCH HÀNG</a>
				</li>
				<li>
					<a href="/admin/managestyles">QUẢN LÝ LOẠI SẢN PHẨM</a>
				</li>
				<li class="qhuy-end-menu">
					<a href="/admin/manageproducts">QUẢN LÝ SẢN PHẨM</a>
				</li>
			</ul>
		</nav>
	</div>
</section>

