<footer>
    <div class="qhuy-container">
        <div class="footer-content">
            <div class="div-header" style="border: none;">
                <div class="col1">
                    <img src="/img/logo/logo-large.png">
                </div>
                <div class="col2">
                    <ul>
                        <li><strong>Công Ty TNHH TM Và DV Bán Áo Online</strong></li>                                    
                        <li><strong>Địa Chỉ:</strong> 99 Đường Trần Hưng Đạo, Cầu Ông Lãnh, Quận 1, TPHCM </li>
                    </ul>
                </div>
                <div class="col3">
                    <ul>
                        <li><strong>SĐT: </strong>0933.333.444 - 0903.777.888</li>
                        <li><strong>Email: </strong>banaoonline@gmail.com</li>
                        <li><strong>Copyright &copy;, All right reserved.</strong></li>
                    </ul>
                </div>

                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
</footer>
