<div class="qhuy-see-detail qhuy-modal">
    <div class="qhuy-modal-content qhuy-animate">
        <div class="qhuy-img-container">
            <span class="qhuy-close" title="Close Modal">&times;</span>
        </div>

        <div class="qhuy-container">
            <div class="qhuy-product-thumb">
                <img src="" alt="thumbnail">
            </div>
            <div class="qhuy-product-desp">                        
                <div class="btn-group hide">
                    <h1 class="title" style="color:#0bb395 !important;"></h1>
                        <ul class="list-unstyled hide">
                            <li class="qhuy-product-style-detail">Kiểu áo: <span></span></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li class="qhuy-product-price-detail">
                                <h2 style="color:red;">VNĐ</h2>
                            </li>
                        </ul>
                        <div id="product">
                            <form action="" method="POST">
                            <div class="form-group required">
                                <label class="control-label" for="sizeoption">Size áo</label>
                                <select name="productsize" id="productsize" class="form-control">
                                    <option value="0"> --- Chọn --- </option>
                                    <option value="1">S</option>
                                    <option value="2">M </option>
                                    <option value="3">L </option>
                                    <option value="4">XL</option>
                                    <option value="5">XXL</option>
                                    <option value="6">XXXL </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="productquantity">Số lượng</label>
                                <input name="productquantity" value="1" size="2" id="productquantity" class="form-control" type="text">
                                <input class="csrfToken" type="hidden" name="_csrf" value="{{ csrfToken }}">
                                <!-- <input name="product_id" type="hidden"><br> -->
                                <button type="submit" id="button-cart" data-loading-text="Đang tải..." class="btn btn-primary btn-lg btn-block">Bỏ vào giỏ hàng</button>
                            </div>
                            </form>
                        </div>
                </div>
            </div>      
        </div>
    </div>
</div>
