<div id="qhuy-signup-form" class="qhuy-modal">
	<form class="qhuy-modal-content qhuy-animate" action="/user/signup" method="post">
		<div class="qhuy-img-container">
			<span class="qhuy-close" title="Close Modal">&times;</span>
		</div>
		<div class="qhuy-container">
			<label for="fullname">
				<b>Họ và tên</b>
			</label>
			<input type="text" placeholder="vd: Nguyen Quoc Huy" name="fullname" required>

			<label for="email">
				<b>Email</b>
			</label>
			<input type="email" placeholder="vd: ngquochuy@abcmail.com" name="email" required>

			<label for="password">
				<b>Mật khẩu</b>
			</label>
			<input type="password" placeholder="vd: ********" name="password" required>

			<label for="phonenumber">
				<b>Số điện thoại</b>
			</label>
			<input type="tel" placeholder="vd: 0123456789" name="phonenumber" required>

			<label for="address">
				<b>Địa chỉ</b>
			</label>
			<input type="text" placeholder="A6, Khu phố 6, Phường Tân Tiến, Biên Hòa" name="address" required>

			<div class="form-group-captcha">
				<div class="g-recaptcha" data-sitekey="6Lcjn2AUAAAAAMLkkJBu0XqIqThNyVjsSPc3rIeo"></div>
				<span id="captcha" style="margin-left:100px;color:red" />
			</div>
			

			<input class="csrfToken" type="hidden" name="_csrf" value="{{ csrfToken }}">
			<button id="signup-btn-sumit" type="submit">Đăng ký</button>
		</div>
		<div class="qhuy-container qhuy-footbox">
			<button type="button" class="qhuy-cancelBtn">Hủy</button>
		</div>
	</form>
</div>