<section class="qhuy-slides-and-instruction qhuy-user">
	<div class="qhuy-container">
		<div class="qhuy-slides">
			<div class="qhuy-prev">
				<img src="/img/arrow-left.png" alt="Prev" id="prev">
			</div>
			<div class="qhuy-slider">
				<div class="qhuy-slide">
					<img src="/img/slides/slide-1.jpg" alt="slide">
				</div>
				<div class="qhuy-slide">
					<img src="/img/slides/slide-2.jpg" alt="slide">
				</div>
				<div class="qhuy-slide">
					<img src="/img/slides/slide-3.jpg" alt="slide">
				</div>
			</div>
			<div class="qhuy-next">
				<img src="/img/arrow-right.png" alt="Next" id="next">
			</div>
		</div>
	</div>
</section>
