<section class="qhuy-top-menu">
	<div class="qhuy-container">
		<nav class="qhuy-topside-menu">
			<ul>
				<li class="qhuy-user"><a href="/design">Thiết kế áo</a></li>
				<li class="qhuy-user"><a href="/">Sản phẩm</a></li>
				<li class="qhuy-user"><a href="/introduction">Giới thiệu</a></li>
				<li class="qhuy-user"><a href="/cooperation">Hợp tác</a></li>
				<li class="qhuy-user"><a href="/instruction">Hướng dẫn</a></li>
				<li class="qhuy-user qhuy-end-menu"><a href="/contact">Liên hệ</a></li>
			</ul>

			<div class="menu-search">
				<form>
					<input class="form-control" placeholder="Tìm kiếm" id="txt_global_search" value="" type="text">
					<button type="button" id="btn-search">
						<img src="/img/icon/search.png" >
					</button>   
				</form>                           
			</div>
		</nav>
	</div>
</section>
