<!doctype html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- My CSS and JavaScript -->
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/thietkeao.css">
    <link rel="stylesheet" href="/css/hoptac.css">
    <link rel="stylesheet" href="/css/lienhe.css">
    <link rel="stylesheet" href="/css/gioithieu.css">
    <link rel="stylesheet" href="/css/huongdan.css">
    <link rel="stylesheet" href="/css/giohang.css">
    <link rel="stylesheet" href="/css/footer.css">

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/Chart.min.js"></script>
    <script src="/js/script.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
	<div class="qhuy-big-container">
        {{> header}}
        {{>alert}}
		{{{body}}}
		{{> footer}}
	</div>
</body>
</html>

